<table border =1>
  <thead>
    <tr>
      <th colspan="4">Search :
        <input type="text" [(ngModel)]="queryString">
      </th>
    </tr>
    <tr>
      <th style="width:40px;max-width:40px;">#</th>
      <th style="width:60px;max-width:100px;">Name</th>
      <th style="width:60px;max-width:50px;">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ex of  listofstudent| filterdata: queryString : 'name' ; let i = index ">
      <td>{{i+1}}</td>
      <td>{{ex.name}}</td>
      <td>{{ex.age}}</td>
    </tr>
  </tbody>

</table>